
.row{
   
   display: flex;
   flex-wrap: wrap;
 
}

.left_side{
  
  flex:65%;
  position: relative;
  height: auto;
  
}
.right_side{
   
   flex: 35%;

}
.form{
    margin:200px 80px;
    background-color: rgba(29,161,242,1.00);
    padding:30px 10px;
    height: auto;  
}


h3{
    color: white;
    text-align: center;
}   

label{
    color:whitesmoke;
    font-weight:300;
    font-size:20px;
}

#sub{
    margin-left: 90px;
    border-radius: 10px;
    background-color: crimson;
    border-color: crimson;
    width:30%;
    padding:5px;
    color: white;
}

.search{
        
    margin:20px;
    border-radius: 30px;
    padding:10px;
    width:40%;
    outline:none;
    border-color: black ;
    border-style: groove;
    box-shadow:rgba(29,161,242,1.00);
    ;
}
